.container{
    margin-left: 10%;
}
.table{
    margin-top: 4%;
    font-size: 21px;
    padding-bottom: 6%;
}
.btn, .btn-sm{
border-color: rgb(60, 70, 213);
background: white;
color: rgb(60, 70, 213);
border-style: ridge;
border-radius: 3px;
width: 60px;
height: 28px;
margin-left: 15px;
margin-top: 5px;
border-width: 1px;
}
